<p><a href="/contacts/new">Add New</a></p>
<table>
  <tr>
    <%@headers[0..4].each do |title| %>
      <th><%=title%></th>
    <%end%>
    <th></th>
  </tr>
  <%@contacts.each do |contact|%>
    <tr>
      <td><a href="/contacts/<%=contact['id']%>"><%=contact['id']%></td>
      <%@headers[1..4].each do |key| %>
        <td><%=contact[key]%></td>
      <%end%>
      <td>
        <a href="/contacts/<%=contact['id']%>/edit">edit</a>
        <a href="/contacts/<%=contact['id']%>" data-confirm="Are you sure?" data-method="delete"  >Remove</a>
        <form action="/contacts/<%=contact['id']%>" method="POST" style="display:inline;">
          <input type="hidden" name="_method" value="DELETE" />
          <input type="submit" value="DELETE"/>
        </form>
      </td>
    </tr>
  <%end%>

</table>
