<table>
  <tr>
    <%@headers[0..3].each do |title| %>
      <th><%=title%></th>
    <%end%>
    <th></th>
  </tr>
  <%@contacts.each do |contact|%>
    <tr>
      <td><a href="/contacts/<%=contact['id']%>"><%=contact['id']%></td>
      <%@headers[1..3].each do |key| %>
        <td><%=contact[key]%></td>
      <%end%>
      <td><a href="/contacts/<%=contact['id']%>/edit">edit</a></td>
    </tr>
  <%end%>

</table>
